body{
    margin: 0;
}
.banner{
    background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-959cd108--Rectangle-83-copy.png?v=1604370409");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-color: #9C2128;
    background-size: cover;
    height: 867px;
    width: 100%;
    position: relative;
}
.banner_content{
    position: absolute;
    top: 264px;
    right: 744px;
    bottom: 463px;
    left: 134px;
}
.banner_title{
    font-family: Gelasio;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 106.5%;
    color: #FFF8E7;
    width: 563px;
    height: 140px;
}
.banner_para{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 137.5%;
    color: #FFFFFF;
    width: 462px;
    margin-top: 16px;
    
}
.banner_btn-link{
    text-decoration: none;
}
.banner_btn{
    background: #FFF8E7;
    border-radius: 50px;
    width: 227px;
    height: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 137.5%;
    text-align: center;
    color: #9C2128;
    margin-top: 32px;
}
.banner_btn:hover{
    background: #530C10;
    border-radius: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 137.5%;
    text-align: center;
    color: white; 
    cursor: pointer; 
}
.section2{
    width: 100%;
    height: auto;
    padding-bottom: 102px;
}
.benefit_title{
    font-family: Gelasio;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    text-align: center;
    color: #9C2128;
    margin-top: 102px;
}
.benefit_block{
    width: 794px;
    height: 337px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-left: 90px;
    margin-top: 60px;

}
.benefit_item{
    width: 368px;
    height: 321px;
    background: #FFF8E7;
    border-radius: 50px;
    margin-right: 33px;
}
.benefit_img{
    width: 190px;
    height: 190px;
    margin: 48px 90px 18px 88px;
}
.benefit_para{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #530C10;
}
.countdown{
    background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-91e6f11c--jeshootscom7VOyZ0iO0ounsplash-1.png?v=1604375074");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 565px;
    position: relative;
}
.cd_title{
    padding-top: 157px;
    font-family: Gelasio;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    text-align: center;
    color: #FFF8E7;
}
.cd_time{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 336px;
    margin-right: 336px;
    margin-bottom: 156px;
}
.cd_time-container{
    width: 148px;
    height: 148px;
    border-radius: 100%;
    background-color: white;
    font-family: Gelasio;
    font-style: normal;
    color: #9C2128;
    text-align: center;
    margin-left: 59px;
}
.cd_number{
    width: 67.37px;
    height: 68.81px;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    margin: 34px 40px 40px;
    box-sizing: border-box;
}
.cd_word{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 46px;
    margin-top: -48px;
}
.section4{
    display: flex;
    flex: 1;
}
.section4_left{
    background-color: #9C2128;
    height: 548px;
    color: #FFF8E7;
    width: 50%;
    
}
.section4_right{
    background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-d129cb84--photo1577029025893887706608495-1.png?v=1604451781");
    background-position: 50% 50%;
    background-size: cover;
    width: 50%;
}
.section4_left-content{
    margin-top: 156px;
    margin-left: 136px;
    box-sizing: border-box;
    text-align: left;
    width: 300px;
    height: 315px;
}
.section4_left-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    text-align: left;
}
.secton4_left-para{
    font-size: 18px;
    line-height: 137.5%;
    padding-top: 100px;
}
.section5{
    font-style: normal;
}
.section5_title1{
    margin-top: 122px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #530C10;
}
.section5_title2{
    margin-top: -20px;
    text-align: center;
    font-family: Gelasio;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    text-align: center;   
    color: #9B2128;   
}
.gift-for-{
    padding: 20px;
}
.gift-for- h2{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 36px;
    line-height: 137.5%;
    text-align: center;
    color: #530C10;
}
.gift-for-_item{
    display: flex;
    flex: 1;
    justify-content: center;
}
.gift-for-_item1{
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #9C2128;
    margin-right: 24px;
}
.img-item1{
    height: 340px;
    width: 270px;
}
.product-name{
    line-height: 137.5%;
    height: 28px;
}
.price{
    line-height: 24px;
    display: flex;
    justify-content: center;
}
.price-ori{
    text-decoration: line-through;
    margin-right: 20px;
}
.button_item-link button{
    margin-top: 36px;
    text-decoration: none;
    width: 176px;   
    height: 50px;
    border: 0.5px solid #c28487;
    box-sizing: border-box;
    border-radius: 50px;
    background: #9C2128;
    color: white;
    font-size: 18px;
    line-height: 137.5%;
}
.button_item-link button:hover{
    background: #530C10;
    cursor: pointer;
}
.section6{
    font-family: Gelasio;
    font-style: normal;
    text-align: center;
    color: #FFF8E7;
    
}
.section6_content{
    background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-eeb894fa--headersparkling09-1.png?v=1604463905");
    background-size:cover ;
    background-repeat: no-repeat;
    height:561px;
    

}
.section6_title{
    padding-top: 80px;
}
.section6-para1{

}
.section6-para1{

}
.section6_img{
    width: 134px;
    height: 134px;
    border-radius: 100%;
    background-color: white;
    background-image: url('/image/section6.png');
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.section6_para2{
    width: 578px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-weight: thin;

}
.section6_customer-name{
    margin-top: 24px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
}
.section7{
    font-family: Gelasio;
    font-style: normal;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
}
.section7_title{
    margin-top: 109px;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    text-align: center;
    color: #9C2128;
}
.section7_box{
    display: flex;
    flex:1;
    justify-content: center;
    margin-top: 40px;
    line-height: 137.5%;
    font-size: 18px;
}
.section7_box-left{
    width: 430px;
    height: 60px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px 0px 0px 30px;
    padding-left: 36px;
    border: 1px solid #000000;
    border-right: none;
    font-weight: 300;
    font-size: 18px;
    
}
.section7_box button{
    width: 200px;
    height: 60px;
    border-radius: 0px 30px 30px 0px;
    font-weight: 500;
    line-height: 137.5%;
    color: #FFFFFF;
    background-color:#9B2128;
    border: 1px solid #000000;
    border-left: none;
    letter-spacing: 2px;
}
.section7_box button:hover{  
    background-color: #530C10;
    cursor: pointer;
}
.section8{
    background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-3c723af1--pexelsgiftpunditscom1303094-1.png?v=1604473193");
    height: 680px;
    margin-top: 109px;
    text-align: center;

}
.section8_title{
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    text-align: center;
    color: #9C2128;   
    padding-top: 105px;
}
.section8_para{
    color: #530C10;
    padding-top: 51px;
}
#button_item-link{
    width:260px;
    height: 55px;
    padding-top: 34px;
}